:host {
	height: 100%;

	display: block;
	border: 2px solid red;
}

#vertical-container {
	display: flex;
	flex-direction: column;

	height: 100%;
}

#tabs {
	flex: 1;

	width: 100%;
	display: inline-flex;
}

#tabs > div {
	flex: 1;
}